/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .cartlassi-stick-to-upper-field1 {
    position: relative;
    top: -15px;
 }

 .cartlassi-stick-to-upper-field2 {
    position: relative;
    top: -30px;
 }

 .cartlassi-push-right {
    margin-left: 12px !important;
 }

 #regenerate-api-key-button {
   margin-top: 8px;
 }

 .cartlassi-admin-checkbox-reasons {
   list-style: disc;
   margin-left: 0px;
   padding-left: 40px;
 }

 #cartlassi-demo-hash {
   width: 100%;
 }

 .cartlassi-payment-method {
   vertical-align: middle !important;
 }

 .cartlassi-connect-div {
  background: #fff;
  padding: 40px;
  margin: 10px;
 }
